.App {
    padding: 0%;
    margin: 0%;
    background-color: #21325e;
    padding: 10%;
    padding-top: 5%;
}

.home {
    padding: 00%;
    margin: 0%;
    display: flex;
    align-items: center;
}

.aboutMe {
    margin-left: 5%;
    font-size: 20px;
}

.projects {
    margin-top: 2%;
    background-color: #f7f4f4;
    border-radius: 2%;
    
}

.projectlist {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: "20px";
    color: #21325e;
    padding: 2%;
    font-size: 20px;
    display: flex;
    align-items: center;
}
